NODE_SERVER_PORT=5000
NODE_ENVIRONMENT=development

PROJECT_NAME=Starter Kit

# for multiple origins use comma separated values ex: http://localhost:3000,http://localhost:4000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173



# Google reCAPTCHA Configs
RECAPTCHA_SECRET_KEY=6Ld


#Redis Configs
REDIS_URL=redis:\
MONGODB_URL=mongodb:

#config for access
IDLE_NORMAL = 10 * 60 * 1000; // 10 Minutes
IDLE_REMEMBER = 7 * 24 * 60 * 60 * 1000; // 7 Days
ROTATION_WINDOW = 15 * 60 * 1000; // 15 Minutes
